.Footer {
  margin: 0 auto;
  text-align: left;
  width: 100%;
  background-color: #222;
  color: white;
  display: flex;
  padding: auto 70px; 
}
.Copyright{
  width: 45%;
}
.LogosNetwors{
  width: 45%;
  display: flex;
  justify-content: space-around;
}